html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

    /* overflow-y: hidden; */
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --main-bg-color: #20a1f1;
  }

body {
   
    background-color: #fff;
    font-family: 'Roboto',sans-serif;
}


html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  .main {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
.main {
    display: flex;
}


.left-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    height: 85vh;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.left-inner img {
    height: auto;
    max-height: 300px;
    margin: auto;
}

.right-inner {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 50px;
}

.right-inner img {
    height: 50px;
    
}


.right-inner h1 {
    letter-spacing: 3px;
    margin-top: 40px;
    font-size: 64px;
    font-weight: 900;
}

.right-inner h2 {
    letter-spacing: 3px;
    margin-top: 60px;
    font-size: 40px;
    font-weight: 900;
}


.buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#btn-signup {
    width: 100%;
    max-width: 380px;
    height: 48px;
    background-color: var(--main-bg-color);
    cursor: pointer;
    border: none;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
}


#btn-login {
    margin-top: 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 900;
    color: var(--main-bg-color);
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    max-width: 380px;
    height: 48px;
    border: 1px solid var(--main-bg-color);
    outline: none;
}

#btn-login:hover {
   
    background-color: rgba(26, 161, 242, 0.1) ;
}
#btn-signup:hover {
    background-color: rgb(26,145,218);
}

.footer-inner {

    padding-top: 20px;
    padding-bottom: 30px;

    padding-right: 30px;
    padding-left: 30px;
}

.footer-nav ul {
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.footer-nav ul li:not(:last-child)  {
   margin-right: 16px;
}


.footer-nav ul li a {
    text-decoration: none;
    color: #5b7083;
    font-size: 14px;
}


.footer-copy {
    text-align: center;
    margin-top: 20px;
}

.footer-copy span {
    text-align: center;
    text-decoration: none;
    color: #5b7083;
    font-size: 14px;
}

/* Login Page */
.login-inner {
    padding-top: 20px;
    width: 100%;
    max-width: 336px;
    margin: auto
}
.login-inner img {
    height: 40px;

}
.login-inner h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 31px;
    font-weight: 900;
    
}

.login-inner .btn{
    width: 100%;
    background-color: var(--main-bg-color);
    height: 48px;
    margin-top: 30px;
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
    outline: none;
}
.login-inner .btn:hover {
    background-color: rgb(26,145,218);
    
}

.login-inner .form-floating label {
    color: rgb(133,133,133);
    padding-top: 20px;
}

.login-inner input[type=email],
.login-inner input[type=password] {
    font-size: 18px;
}

.login-inner input[type=email]:focus,
.login-inner input[type=password]:focus {
    outline: none ;
    border: 2px solid var(--main-bg-color) ;
    box-shadow: none;
    font-size: 20px;
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label{
    color: rgb(26,145,218);
}

.login-forgot {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.login-forgot span a {
    color: var(--main-bg-color);
    text-decoration: none;
}
.login-forgot span:hover {
    border-bottom: 1px solid var(--main-bg-color);
}

#forgot-pass::after {
    content: '.';
    height: 1px;
    display: inline-block;
    color: #5b7083;
    margin: 0 5px;
    transform: translateY(-5px);
}

@media only screen and (max-width: 992px) {
    .footer-nav ul li a {
        line-height: 30px;
    }
    .main.unauthorized {
        padding-top: 40px;

        flex-direction: column-reverse;
    }
    .right {
        margin: auto;
    }
    .right-inner {
        padding: 0;
    }
    .buttons {
        margin-bottom: 60px;
        flex-direction: row;
    }
    .left-inner {
        width: 100%;
        height: 45vh;
    }
   
    #btn-login,#btn-signup {
        flex-shrink: 0;
        margin: 0;
        max-width: 254px;
    }
    #btn-signup {
        margin-right: 20px;
    }
    
}




@media only screen and (max-width: 600px) {
    .buttons {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .right {
       padding: 0 20px;
    }

    #btn-signup {
        margin-bottom: 20px;
        max-width: 300px;
        margin-right: 0;
    }
    #btn-login {
        max-width: 300px;
        margin-right: 0;
    }
}